# file: .gitignore
# type: Git ignore file
# project: gitutils

# Stuff I just don't want to track
/untracked/

# LibreOffice Writer temporary files
**/*.~lock*

# /dev/null shows up in gitk! No reason to track it, so...
**/dev/null
