# ------------------------------------------------------------------------------
# file: .gitattributes
# type: Git attributes
# project: gitutils
# ------------------------------------------------------------------------------

# -- GNU Makefiles
*.mk filter=mkfilter


# -- LibreOffice formula, text and presentation docs
*.odf diff=odf
*.odt diff=odf
*.odp diff=odf

# ------------------------------------------------------------------------------
# EOF
# ------------------------------------------------------------------------------ 
